{% extends "base.html" %}
{% block content %}
<div class="header">
    <h1>Doubles Matches</h1>
    <a href="{{ url_for('add_double_match') }}" class="btn-add">
        <span class="material-icons">add</span>
        New Double Match
    </a>
</div>

<div class="matches-list">
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Team 1</th>
                <th>Score</th>
                <th>Team 2</th>
                <th>Winner</th>
            </tr>
        </thead>
        <tbody>
            {% for match in matches %}
            <tr>
                <td>{{ match.match_date.strftime('%Y-%m-%d %H:%M') }}</td>
                <td>{{ match.team1_player1.name }} / {{ match.team1_player2.name }}</td>
                <td>{{ match.team1_score }} - {{ match.team2_score }}</td>
                <td>{{ match.team2_player1.name }} / {{ match.team2_player2.name }}</td>
                <td>
                    {% if match.team1_score > match.team2_score %}
                        Team 1
                    {% else %}
                        Team 2
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %} 